@import "../dist/layout-lmr.scss";
.test-layout-lmr{
  @include layout-lmr(200px,100px);
  min-height: 200px;
  .left{
    background: pink;
  }
  .middle{
    background: green;
  }
  .right{
    background:#eee;
  }
}
