/*webkit-sassui-layout-lmr Start*/
/*animation Start*/
/*animation End*/
/*appearance Start*/
/*appearance End*/
/*backface-visibility Start*/
/*backface-visibility End*/
/*background Start*/
/*background End*/
/*border-radius Start*/
/*border-radius End*/
/*box-shadow Start*/
/*box-shadow End*/
/*box-sizing Start*/
/*box-sizing End*/
/*clearfix Start*/
/*clearfix End*/
/*content-columns Start*/
/*content-columns End*/
/*dib-grid Start*/
/*dib-grid End*/
/*filter Start*/
/*filter End*/
/*flexbox Start*/
/*flexbox End*/
/*flip Start*/
/*flip End*/
/*height Start*/
/*height End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*placeholder Start*/
/*placeholder End*/
/*size Start*/
/*size End*/
/*tap-highlight-transparent Start*/
/*tap-highlight-transparent End*/
/*text-size-adjust Start*/
/*text-size-adjust End*/
/*touch-callout Start*/
/*touch-callout End*/
/*transformation Start*/
/*transformation End*/
/*transition Start*/
/*transition End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*user-select Start*/
/*user-select End*/
/*width Start*/
/*width End*/
.webkit-sassui-layout-lrrl-float[left-auto] > .left[overflow], .webkit-sassui-layout-lrrl-float2 > .left[overflow],
.webkit-sassui-layout-lrrl-float[right-auto] > .right[overflow], .webkit-sassui-layout-lrrl-float1 > .right[overflow] {
  overflow: hidden;
}

.webkit-sassui-layout-lrrl-float[right-auto] > .left, .webkit-sassui-layout-lrrl-float1 > .left {
  float: left;
}

.webkit-sassui-layout-lrrl-float[left-auto] .right, .webkit-sassui-layout-lrrl-float2 .right {
  float: right;
}

.webkit-sassui-layout-lmr-position, .webkit-sassui-layout-lmr-position1, .webkit-sassui-layout-lmr-position2, .webkit-sassui-layout-lmr-position3 {
  position: relative;
}

.webkit-sassui-layout-lmr-position > .middle, .webkit-sassui-layout-lmr-position1 > .middle, .webkit-sassui-layout-lmr-position2 > .middle, .webkit-sassui-layout-lmr-position3 > .middle,
.webkit-sassui-layout-lmr-position > .right, .webkit-sassui-layout-lmr-position1 > .right, .webkit-sassui-layout-lmr-position2 > .right, .webkit-sassui-layout-lmr-position3 > .right,
.webkit-sassui-layout-lmr-position > .left, .webkit-sassui-layout-lmr-position1 > .left, .webkit-sassui-layout-lmr-position2 > .left, .webkit-sassui-layout-lmr-position3 > .left {
  position: absolute;
  top: 0;
  bottom: 0;
}

.webkit-sassui-layout-lmr-position > .left, .webkit-sassui-layout-lmr-position1 > .left, .webkit-sassui-layout-lmr-position2 > .left, .webkit-sassui-layout-lmr-position3 > .left {
  left: 0;
}

.webkit-sassui-layout-lmr-position > .right, .webkit-sassui-layout-lmr-position1 > .right, .webkit-sassui-layout-lmr-position2 > .right, .webkit-sassui-layout-lmr-position3 > .right {
  right: 0;
}

.webkit-sassui-layout-lmr-flex, .webkit-sassui-layout-lmr-flex1, .webkit-sassui-layout-lmr-flex2, .webkit-sassui-layout-lmr-flex3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.webkit-sassui-layout-lmr-flex[flex-left] > .left, [flex-left].webkit-sassui-layout-lmr-flex1 > .left, [flex-left].webkit-sassui-layout-lmr-flex2 > .left, [flex-left].webkit-sassui-layout-lmr-flex3 > .left,
.webkit-sassui-layout-lmr-flex[flex-middle] > .middle, .webkit-sassui-layout-lmr-flex1 > .middle, .webkit-sassui-layout-lmr-flex2 > .middle, .webkit-sassui-layout-lmr-flex3 > .middle,
.webkit-sassui-layout-lmr-flex[flex-right] > .right, [flex-right].webkit-sassui-layout-lmr-flex1 > .right, [flex-right].webkit-sassui-layout-lmr-flex2 > .right, [flex-right].webkit-sassui-layout-lmr-flex3 > .right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.webkit-sassui-layout-lrauto-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.webkit-sassui-layout-lrauto-flex > .right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.webkit-sassui-layout-rlauto-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.webkit-sassui-layout-rlauto-flex > .left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.webkit-sassui-layout-lmr-table, .webkit-sassui-layout-lmr-table1, .webkit-sassui-layout-lmr-table2, .webkit-sassui-layout-lmr-table3 {
  display: table;
}

.webkit-sassui-layout-lmr-table > .left, .webkit-sassui-layout-lmr-table1 > .left, .webkit-sassui-layout-lmr-table2 > .left, .webkit-sassui-layout-lmr-table3 > .left,
.webkit-sassui-layout-lmr-table > .middle, .webkit-sassui-layout-lmr-table1 > .middle, .webkit-sassui-layout-lmr-table2 > .middle, .webkit-sassui-layout-lmr-table3 > .middle,
.webkit-sassui-layout-lmr-table > .right, .webkit-sassui-layout-lmr-table1 > .right, .webkit-sassui-layout-lmr-table2 > .right, .webkit-sassui-layout-lmr-table3 > .right {
  display: table-cell;
  vertical-align: top;
}

/*webkit-sassui-layout-lmr End*/
html, body {
  height: 100%;
}

body {
  font-size: 14px;
}

h2 {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

h3 {
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.left {
  background: orange;
}

.middle {
  background: cyan;
}

.right {
  background: pink;
}

.webkit-sassui-layout-lrrl-float1:after {
  clear: both;
  content: "\200B";
  display: block;
  height: 0;
}

.webkit-sassui-layout-lrrl-float1 > .left {
  width: 120px;
  margin-right: 10px;
}

.webkit-sassui-layout-lrrl-float1 > .right {
  min-height: 30px;
}

.webkit-sassui-layout-lrrl-float2:after {
  clear: both;
  content: "\200B";
  display: block;
  height: 0;
}

.webkit-sassui-layout-lrrl-float2 > .right {
  width: 120px;
  margin-left: 10px;
}

.webkit-sassui-layout-lrrl-float2 > .left {
  min-height: 30px;
}

.webkit-sassui-layout-lmr-position1 {
  min-height: 30px;
}

.webkit-sassui-layout-lmr-position1 > .left {
  width: 100px;
}

.webkit-sassui-layout-lmr-position1 > .middle {
  left: 100px;
  right: 0;
}

.webkit-sassui-layout-lmr-position1 > .right {
  width: 0;
}

.webkit-sassui-layout-lmr-position2 {
  min-height: 30px;
}

.webkit-sassui-layout-lmr-position2 > .left {
  width: 0;
}

.webkit-sassui-layout-lmr-position2 > .middle {
  left: 0;
  right: 100px;
}

.webkit-sassui-layout-lmr-position2 > .right {
  width: 100px;
}

.webkit-sassui-layout-lmr-position3 {
  min-height: 30px;
}

.webkit-sassui-layout-lmr-position3 > .left {
  width: 120px;
}

.webkit-sassui-layout-lmr-position3 > .middle {
  left: 120px;
  right: 100px;
}

.webkit-sassui-layout-lmr-position3 > .right {
  width: 100px;
}

.webkit-sassui-layout-lmr-flex1 > .left {
  width: 100px;
}

.webkit-sassui-layout-lmr-flex1 > .right {
  width: 0;
}

.webkit-sassui-layout-lmr-flex2 > .left {
  width: 0;
}

.webkit-sassui-layout-lmr-flex2 > .right {
  width: 100px;
}

.webkit-sassui-layout-lmr-flex3 > .left {
  width: 120px;
}

.webkit-sassui-layout-lmr-flex3 > .right {
  width: 100px;
}

.webkit-sassui-layout-lmr-table1 > .left {
  width: 100px;
}

.webkit-sassui-layout-lmr-table1 > .right {
  width: 0;
}

.webkit-sassui-layout-lmr-table2 > .left {
  width: 0;
}

.webkit-sassui-layout-lmr-table2 > .right {
  width: 100px;
}

.webkit-sassui-layout-lmr-table3 > .left {
  width: 120px;
}

.webkit-sassui-layout-lmr-table3 > .right {
  width: 100px;
}
